In [1]:
print 'Hello World'

Hello World

###Getting Started with Python

###Create some variables

In [2]:
i = 4
print type(i)
f = 4.1
print type(f)
b = True
s = "Stringer"
print s

<type 'int'>
<type 'float'>
Stringer

###Advanced Python  Types

In [4]:
l = [2,3,4]
print type(l)
d = {'foo': 1 , 'bar': 2}
print type(d)

<type 'list'>
<type 'dict'>

In [6]:
type(n)

NameError: name 'n' is not defined

In [7]:
print "Our float value is %f. OUr int value is %i." % (f,i)

Our float value is 4.100000. OUr int value is 4.

###Conditional Statements

In [11]:
if i == 1 and f > 4 : 
    print "The value of i is 1 and f is greater than 4."
elif i > 4 or  f > 4 : 
    print "i and f are both greater than 4"
else : 
    print "both i an f are less than or equal to 4"

i and f are both greater than 4

##Conditional Loops

In [13]:
for e in l :
    print e

2
3
4

In [18]:
counter = 6
while counter < 10 : 
    print counter
    counter += 1

6
7
8
9

##Creating functions in Pythong

In [21]:
def add2(x) :
    y = x + 2 
    return y

add2(3)

5

In [23]:
add2 = lambda x : x  + 2
add2(5)

7

# Tutorail for SFrame

In [1]:
file_loc = "C:\\Users\\Home\\Downloads\\people-example.csv"

In [2]:
import graphlab

In [3]:
# load data set
sf = graphlab.SFrame(file_loc)

[INFO] This non-commercial license of GraphLab Create is assigned to charlesf.0@gmail.comand will expire on September 22, 2016. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-1784 - Server binary: C:\Users\Home\Anaconda\lib\site-packages\graphlab\unity_server.exe - Server log: C:\Users\Home\AppData\Local\Temp\graphlab_server_1443110595.log.0
[INFO] GraphLab Server Version: 1.6

PROGRESS: Finished parsing file C:\Users\Home\Downloads\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.01353 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file C:\Users\Home\Downloads\people-example.csv
PROGRESS: Parsing completed. Parsed 7 lines in 0.013029 secs.

In [4]:
sf # view first few lines

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [5]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [6]:
sf.tail()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

## Graph Lab Canvas

In [7]:
# take any data structe and use show
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:58269/index.html
Opening Canvas in default web browser.

In [8]:
graphlab.canvas.set_target('ipynb')

[WARNING] This Python session does not appear to be running in an interactive IPython Notebook. Use of the 'ipynb' target may behave unexpectedly or result in errors.

In [9]:
sf['age'].show(view = 'Categorical')

### Inspect Columns of Dataset

In [10]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [11]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [13]:
sf['age'].mean()

23.142857142857146

In [14]:
sf['age'].max()

25L

# Create New Columns

In [16]:
sf['Full Name'] = sf['First Name'] + '  ' + sf['Last Name']

In [17]:
sf['age'] + 2

dtype: int
Rows: 7
[26L, 25L, 24L, 25L, 25L, 24L, 27L]

# Use the apply function to do a advance transformation fo our data.

In [18]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [19]:
def transform_country(country) :
    if country == 'USA' :
        return 'United States'
    else :
        return country

In [20]:
transform_country('Brazil')

'Brazil'

In [21]:
transform_country('USA')

'United States'

In [22]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [23]:
sf['Country'] = sf['Country'].apply(transform_country)